#description {
    width: 40%;
    top: 0%;
    right: 10%;
    position: absolute;
    height: 90%;
}

.campaign:hover {
    color: blue;
    text-decoration: underline;
}

#logo {
    max-width: 100%;
    align-content: center;
}

#Name {
    text-align: center;
}

#DM {
    text-align: center;
}

p {
    margin: 10px;
}